@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{padding: 0; margin: 0; box-sizing: border-box; font-family: 'Poppins';}
 
body {
  background-color: #252525;
} 

.visibilidade-hidden{
  visibility: hidden;
}

.display-block{
  display: block;
}

.box-jogos{
  position: absolute;
  left: 96px;
}

.meus-jogos > h1{
  color: white;
  font-weight: 275;
  margin-bottom: 46px;
  margin-top: 30px;
  font-size: 48px;
}

.meus-jogos{
  margin-left: 56px;
  width: 80vw;
}

.menu-lista{
  font-size: 24px;
  font-weight: 275;
  color: #D9D9D9;
  margin-bottom: 19px;
  width: 99.8%;
}

.menu-lista li, .menu-lista p, .menu-lista div, .lista-jogos li{
  display: inline-block;
}

.menu-lista ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.menu-lista .titulo, .lista-jogos .titulo{
  margin-left: 2%;
  margin-right: 2%;
  width: 24%;
}

.menu-lista .preço, .lista-jogos .preco{
  width: 14%;
}

.menu-lista .genero, .lista-jogos .genero{
  width: 24%;
}  

.ultima-coluna{
  width: 34%; 
  text-align: right;
}

.icone{
  color:#775CB6;
  margin-left: 8px;
  position: relative;
  top: 6px; 
}

.add-icone{
  color:#775CB6;
  font-size: 18px;
  white-space: nowrap;
  font-weight: 450;
  font-family: Poppins;
} 

.lista-jogos{
  width: 99.8%;
  border-radius: 4px;
  background: #333333;
  margin-bottom: 14px;
}

.lista-jogos li{
  color: #D9D9D9;
  padding: 10px 0;
  font-weight: 275;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-weight: 275;
}

.lista-jogos ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lista-jogos li:nth-child(4){
  text-align: right;
}

.lista-jogos p{
  display: inline-block;
  background-color: #2B008D;
  margin-right: 5px;
  border-radius: 4px;
  padding: 0px 5px;
  font-weight: 275;
}

.icones-fim{
  display: flex;
  justify-content: flex-end;
}

.lixeira{
  margin-left: 8%;
  margin-right: 5%;
}

.lista-jogos .material-icons-round, .add-jogos1, .add-jogos2{
  cursor: pointer;
}

.add-jogos2{
  color:#775CB6;
  width: 199px;
  margin: 0 auto 25px auto; 
  display: flex;
}

.textoIcone2{
  color: #775CB6;
  font-family: Poppins;
  font-size: 18px;
  margin-left: 8px;
}

.icone2{
  color:#775CB6;
  height: 20px;
  width: 20px;
  position: relative;
  top:2px;  
}

.jogos-fixos{
  margin-top: 6px;
}




@media screen and (max-width: 900px){
  .meus-jogos{
    margin-left: 36px;

  }
}


@media screen and (max-width: 750px){
  .box-jogos{
    position: static;
  }

  .meus-jogos{
    margin-left: 0px;
    width: 90%;
    margin: 0 auto;
  }
  
  .meus-jogos > h1{
    margin-bottom: 46px;
    margin-top: 30px;
    font-size: 28px;
    text-align: center;
  }

  .menu-lista li{
    font-size: 18px;
  }

  .add-jogos1 p, .add-jogos1 span{
    display: none;
  }

  .lista-jogos li{
    font-size: 15px;
  }

  .menu-lista .titulo, .lista-jogos .titulo{
    margin-left: 2%;
    margin-right: 2%;
    width: 24%;
  }
  
  .menu-lista .preço, .lista-jogos .preco{
    width: 14%;
    margin-right: 2%;
  }
  
  .menu-lista .genero, .lista-jogos .genero{
    width: 30%;
  }  
  
  .ultima-coluna{
    width: 26%; 
  }

  .add-jogos2{
    margin-bottom: 90px;
  }

  .lixeira{
    margin-left: 18%;
  }
}


@media screen and (max-width: 400px){
  
  .meus-jogos{
    width: 94%;
  }

  .lista-jogos li{
    font-size: 14px;
    padding: 6px 0;
  }

  .lista-jogos{
    margin-bottom: 8px;
  }

  .menu-lista .preço, .lista-jogos .preco{
    width: 18%;
  }
  
  .menu-lista .genero, .lista-jogos .genero{
    width: 26%;
  }  

  .icones-fim span{
    font-size: 20px;
  }

  .lixeira{
    margin-left: 24%;
  }

}
