@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
  padding: 0; margin: 0; box-sizing: border-box; font-family: 'Poppins';
}

.box-conta{
    position: absolute;
    left: 96px;
}

.tela-conta h1{
    color: white;
    font-weight: 200;
    margin-bottom: 62px;
    margin-top: 30px;
    font-size: 48px;
}

.tela-conta{
    margin-left: 56px;
    width: 60vw;
}

.tela-conta label{
    font-size: 20px;
}

.tela-conta input{
    width: 50%;
    padding: 3px 10px;
}

.btn-roxo-conta{
    background-color: #3700B3;
    outline: none;
    border: none;
    width: 166px;
    display: block;
    margin-bottom: 28px;
    color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 0px #00000040;
    font-size: 20px;
    padding: 6px 0;
    font-weight: 200;
}

.btns-conta{
    margin-top: 70px;
}
  

@media screen and (max-width: 720px){
    .box-conta{
        left: 0;
        margin: 0 auto;
        width: 100%;
    }
    
    .tela-conta h1{
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 28px;
        text-align: center;
    }

    
    .tela-conta{
        width: 80vw;
        margin-left: 0;
        margin: 0 auto;
    }

    .tela-conta label{
        font-size: 18px;
    }

    .tela-conta input{
        width: 100%;
        font-size: 18px;
    }

    .btn-roxo-conta{
        width: 40%;
        margin: 0 auto 20px auto;
        font-size: 18px;
    }

    .btns-conta{
        text-align: center;
        margin-top: 70px;
    } 
 
    
}

@media screen and (max-width: 400px){
    .btn-roxo-conta{
        width: 50%;
        margin: 0 auto 20px auto;
        font-size: 16px;
    }

    .btns-conta{
        margin-top: 70px;
    } 
}
